<ion-header>

    <ion-navbar>
		<ion-title>User Permission History</ion-title>
	</ion-navbar>

	<div class="color-container" style="height: 200px;">
		<div class="filter-input">
			<div class="form-input">
				<ion-label color="primary" fixed>Status</ion-label>
				<ion-select block>
					<ion-option selected>All</ion-option>
					<ion-option>Approved</ion-option>
					<ion-option>Rejected</ion-option>
					<ion-option>Pending</ion-option>
				</ion-select>
			</div>
			<div class="form-group">
					<div class="form-input">
						<ion-label color="primary" fixed>Start</ion-label>
						<ion-select block>
							<ion-option selected>All</ion-option>
							<ion-option>Late</ion-option>
							<ion-option>Present</ion-option>
							<ion-option>Off</ion-option>
						</ion-select>
					</div>
					<div class="form-input">
						<ion-label color="primary" fixed>End</ion-label>
						<ion-select block>
							<ion-option selected>All</ion-option>
							<ion-option>Late</ion-option>
							<ion-option>Present</ion-option>
							<ion-option>Off</ion-option>
						</ion-select>
					</div>
			</div>
		</div>
	</div>
  
</ion-header>
	
<ion-content>
	<ion-list>
		<ion-item>
			<ion-avatar item-start>
				<img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
			</ion-avatar>
			<h2>Jeremias Rama Wijaya</h2>
			<p>(Late) 07:12</p>
		</ion-item>
		<ion-item>
			<ion-avatar item-start>
				<img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
			</ion-avatar>
			<h2>Bayu Tirta Saitama</h2>
			<p>(Day Off) 24 August 2019 - 28 August 2019</p>
		</ion-item>
		<ion-item>
			<ion-avatar item-start>
				<img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
			</ion-avatar>
			<h2>Papin Faizal</h2>
			<p>(Office Leave) 16:00</p>
		</ion-item>
	</ion-list>

	
</ion-content>
  