<ion-content class="animated fadeIn login auth-page">
	<div class="login-overlay">
		<div class="login-content">

			<div padding-horizontal text-center class="login-head animated fadeInDown">
				<div class="logo"></div>
				<h2 ion-text>
					<strong>Humira</strong>
				</h2>
			</div>

			<form class="list-form" (ngSubmit)="login()" [formGroup]="loginForm">
				<div class="form-input">
					<ion-label color="primary" fixed>Email</ion-label>
					<ion-input type="email" formControlName="email"></ion-input>
				</div>

				<div class="form-input">
					<ion-label color="primary" fixed>Password</ion-label>
					<ion-input type="password" formControlName="password"></ion-input>
				</div>

				<div class="form-error" *ngIf="loginError">{{loginError}}</div>
			
				<!-- <br><p text-right ion-text color="primary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p><br> -->

				<div class="login-form-action">
					<button ion-button icon-start block round color="primary" type="submit" [disabled]="!loginForm.valid">
						Login
					</button>
					<button ion-button round icon-only block class="btn-gplus" tappable (click)="register()">
						Register with <ion-icon class="btn-gplus-icon" name="logo-googleplus">oogle</ion-icon>
					</button>
				</div>
			</form>

		</div>
	</div>
</ion-content>
