page-login {
    .scroll-content
    {
        background: url('../../assets/imgs/marvin-meyer-571072-unsplash.jpg');
        background-size: cover;
        background-position: center;
        color: #fff;
    }

    .login-overlay
    {
        width: 100%;
        height: 100vh;
        display: flex;
        background: linear-gradient(to bottom right, var(--transparent-blue-primary), var(--transparent-blue-primary-dark));
    }

    .login-content
    {
        width: 76%;
        margin: auto;
    }

    .login-head
    {
        margin-bottom: 75px;
    }

    ion-input
    {
        color: #000;
    }

    .login-form-action
    {
        margin-top: 25px;
    }

    .form-error
    {
        background: red;
        border-radius: 10px;
        color: #fff;
        padding: 5px;
    }

    // .auth-page {
    //     background-color: #fff;
    //     &::after {
    //         content: "";
    //         background: url("../assets/img/bg.jpg") no-repeat;
    //         background-size: cover;
    //         top: 0;
    //         left: 0;
    //         bottom: 0;
    //         right: 0;
    //         position: absolute;
    //         z-index: 0;
    //     }
        
    //     .scroll-content {
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         //background: rgba(50, 10, 92, .4);
        
    //         .login-content {
    //         width: 86%;
        
    //         
        
    //         .list-form {
    //             padding: 0;
    //             margin-bottom: 0;
        
    //             ion-item {
    //             background: none;
    //             padding: 0;
        
    //             &:first-child {
    //                 border-top: none;
    //             }
        
    //             &:after {
    //                 display: none;
    //             }
        
    //             ion-label {
    //                 font-size: 1em;
    //                 color: color($colors, primary);
    //             }
        
    //             input {
    //                 color: color($colors, primary);
    //             }
    //             }
    //         }
    //         }
    //     }
    // }
}