<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="login-head animated fadeInDown">
		<div class="logo"></div>
		<h2 ion-text>
			<strong>Humira</strong>
		</h2>
	</div>

	<div class="register-content">
		<p><strong>THIS REGISTRATION ONLY MEANT TO BE USED BY OWNER OF A COMPANY!</strong> If you are a staff of a company, you can contact your supervisor, software department, or human resource department to ask for an account. In case you forgot your password, ask the corresponding department or use feature below.</p>
		
		<br/>
		<button ion-button icon-start block round color="primary" type="submit" (click)="login()">
				I forgot my password
		</button>
		<br/>

		<p>
			<strong>WELCOME TO HUMIRA!</strong>
			Humira is a human resource application to help companies and its employees to manage daily routine better and make attendance system simpler. Registration using this method will require legal documents for your company and account wil be terminated if no response given. For full license and agreement read our <a href="#">terms of services</a>.
			<strong>You must register using your company email address that's been using Google mail platform.</strong>
			If you're using non corporate email address, we recommend you use Google. We're not accepting registration aside from Google email address.
		</p>
		
		<br/>
		<button ion-button block round color="primary" type="submit" (click)="login()">
			I already have an account
		</button>
		<button ion-button round icon-only block class="btn-gplus" tappable (click)="loginWithGoogle()">
			Register with <ion-icon class="btn-gplus-icon" name="logo-googleplus">oogle</ion-icon>
		</button>

	</div>

  </div>
</ion-content>
