page-admin-employees-list {

    .employee-status
    {
        width: 10px;
        height: 10px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        border-radius: 100%;
    }
    
    .employee-status-offline
    {
        background: rgb(247, 8, 8);
    }
    
    .employee-status-online
    {
        background: rgb(6, 161, 6);
    }
    
    .employee-bio
    {
        display: flex;
        margin-top: 10px;
        border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8;
    }
    
    .embio
    
    {
        text-align: center;
        border-right: 1px solid #d8d8d8;
        padding-bottom: 10px;
        flex-grow: 1;
    } 
    
    .embio h1
    {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 10px;
        color: #d8d8d8;
    }
    
    .embio h2
    {
        font-size: 12px;
    }
    
    .embio:last-child
    {
        border-right: none;
    }
    
    .item-inner
    {
        padding-right: 0px !important;
    }

    .item-inner .label
    {
        margin-right: 0px !important;
    }
}
