<ion-header>

	<ion-navbar>
		<ion-title>Employees</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="requestPermission()">
			<ion-icon name="md-add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

	<div class="color-container" style="height: 200px;">
		<div class="filter-input">
			<div class="form-input">
			<ion-label color="primary" fixed>Status</ion-label>
			<ion-select block>
				<ion-option selected>All</ion-option>
				<ion-option>Approved</ion-option>
				<ion-option>Rejected</ion-option>
				<ion-option>Pending</ion-option>
			</ion-select>
			</div>
			<div class="form-group">
				<div class="form-input">
				<ion-label color="primary" fixed>Start</ion-label>
				<ion-select block>
					<ion-option selected>All</ion-option>
					<ion-option>Late</ion-option>
					<ion-option>Present</ion-option>
					<ion-option>Off</ion-option>
				</ion-select>
				</div>
				<div class="form-input">
				<ion-label color="primary" fixed>End</ion-label>
				<ion-select block>
					<ion-option selected>All</ion-option>
					<ion-option>Late</ion-option>
					<ion-option>Present</ion-option>
					<ion-option>Off</ion-option>
				</ion-select>
				</div>
			</div>
		</div>
	</div>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item tappable (click)="employeeProfile()">
			<ion-avatar item-start>
				<img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
				<div class="employee-status employee-status-offline"></div>
			</ion-avatar>
			<h2>Jeremias Rama Wijaya</h2>
			<p>10 on time, 8 late, 2 off</p>
		</ion-item>
	</ion-list>
</ion-content>
