page-edit-profile {
	.edit-avatar
	{
		border-radius: 100%;
		width: 25%;
	}

	.change-text
	{
		font-size: 13px;
		display: block;
		color: #fff;
	}

	.info-text
	{
		margin-left: 30px;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 18px;
	}

	.custom-hr
	{
		height: 3px;
	}

	.custom-select
	{
		margin-left: 15px;
		position: absolute;
	}
}
