<ion-header>

	<ion-navbar>
		<ion-buttons start left>
			<button ion-button icon-only (click)="dismiss()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Edit Profile</ion-title>

		<ion-buttons end>
			<button ion-button icon-only (click)="updateProfile()">
				<ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content>

	<!-- Profile picture -->
	<div class="color-container">
		<div style="padding-top: 56px;" text-center>
			<img [src]="user_data.profile_img" class="edit-avatar" alt="">
			<a href="#" class="change-text">Change Photo</a>
		</div>
	</div>

	<h3 class="info-text">Company Information</h3>

	<!-- Form -->
	<ion-item>
		<ion-label> 
		<ion-icon name="clipboard" color="gray"></ion-icon>
		</ion-label>
		<ion-input type="text" [value]="user_data.name_surname"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label> 
		<ion-icon name="person" color="gray"></ion-icon>
		</ion-label>
		<ion-input type="text" [value]="user_data.username"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label> 
		<ion-icon name="globe" color="gray"></ion-icon>
		</ion-label>
		<ion-input type="text" [value]="user_data.website"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>
		<ion-icon name="quote" color="gray"></ion-icon>
		</ion-label>
		<ion-textarea placeholder="" [value]="user_data.description"></ion-textarea>
	</ion-item>

	<!-- Private information form -->
	<h3 class="info-text">Private Information</h3>
	
	<ion-item>
		<ion-label> 
		<ion-icon name="mail" color="gray"></ion-icon>
		</ion-label>
		<ion-input type="text" [value]="user_data.email"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label> 
		<ion-icon name="phone-portrait" color="gray"></ion-icon>
		</ion-label>
		<ion-input type="text" [value]="user_data.phone" placeholder="Add your phone"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label>
		<ion-icon name="transgender" color="gray"></ion-icon>
		</ion-label>
		<ion-select class="custom-select" [(ngModel)]="user_data.gender">
		<ion-option value="male">Male</ion-option>
		<ion-option value="female">Female</ion-option>
		<ion-option value="none">Not Specified</ion-option>
		</ion-select>
	</ion-item>

</ion-content>
