<ion-header>
	<ion-navbar transparent>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Profile</ion-title>
	</ion-navbar>

	<div class="color-container color-profile">

		<div class="nav-contents">
			<div class="profile-picture-container">
				<div class="profile-picture">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx" />
				</div>
				<h1>Jeremias Rama Wijaya &nbsp<ion-icon name="ios-create"></ion-icon></h1>
				<p>Human Resource Director</p>
			</div>
		</div>

		<ion-header no-shadow class="head-segment">
			<ion-toolbar>
				<ion-segment [(ngModel)]="profiletab" color="light">
					<ion-segment-button value="summary" active>
						Summary
					</ion-segment-button>
					<ion-segment-button value="presence">
						Presence
					</ion-segment-button>
					<ion-segment-button value="request">
						Request
					</ion-segment-button>
				</ion-segment>
			</ion-toolbar>
		</ion-header>
	</div>
</ion-header> 

<ion-content>

	<ng-container [ngSwitch]="profiletab" >

		<!-- Summary -->
		<div class="segment-content" *ngSwitchCase="'summary'" ngSelected="selected">
			<div class="basic-card">
				<div class="card-flex">
					<div class="card-first">
						<p><strong>Permit Request</strong></p>
					</div>
					<div class="card-second">
						<p>12 requests <ion-icon name="ios-arrow-forward"></ion-icon></p>
					</div>
				</div>
			</div>
			<div class="basic-card">
				<div class="card-flex">
					<div class="card-first">
						<p><strong>Early Leave Request</strong></p>
					</div>
					<div class="card-second">
						<p>12 requests <ion-icon name="ios-arrow-forward"></ion-icon></p>
					</div>
				</div>
			</div>
			<div class="basic-card">
				<div class="card-flex">
					<div class="card-first">
						<p><strong>Absent Count</strong></p>
					</div>
					<div class="card-second">
						<p>12 <ion-icon name="ios-arrow-forward"></ion-icon></p>
					</div>
				</div>
			</div>
			<div class="basic-card">
				<div class="card-flex">
					<div class="card-first">
						<p><strong>Infractions</strong></p>
					</div>
					<div class="card-second">
						<p>0 / 3 <ion-icon name="ios-arrow-forward"></ion-icon></p>
					</div>
				</div>
			</div>
		</div>

		<!-- Presence -->
		<div *ngSwitchCase="'presence'">
			<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-warning">LTE</div>
					</ion-avatar>
					<h2>24 August 2019, 08:12</h2>
					<p>You are 12 minutes late.</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-safe">OK</div>
					</ion-avatar>
					<h2>24 August 2019, 07:35</h2>
					<p>Wow, you're 15 minutes early!</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-danger">OFF</div>
					</ion-avatar>
					<h2>24 August 2019</h2>
					<p>You're not present.</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-warning">LTE</div>
					</ion-avatar>
					<h2>24 August 2019, 08:12</h2>
					<p>You are 12 minutes late.</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-safe">OK</div>
					</ion-avatar>
					<h2>24 August 2019, 07:35</h2>
					<p>Wow, you're 15 minutes early!</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-danger">OFF</div>
					</ion-avatar>
					<h2>24 August 2019</h2>
					<p>You're not present.</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-warning">LTE</div>
					</ion-avatar>
					<h2>24 August 2019, 08:12</h2>
					<p>You are 12 minutes late.</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-safe">OK</div>
					</ion-avatar>
					<h2>24 August 2019, 07:35</h2>
					<p>Wow, you're 15 minutes early!</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-danger">OFF</div>
					</ion-avatar>
					<h2>24 August 2019</h2>
					<p>You're not present.</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-warning">LTE</div>
					</ion-avatar>
					<h2>24 August 2019, 08:12</h2>
					<p>You are 12 minutes late.</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-safe">OK</div>
					</ion-avatar>
					<h2>24 August 2019, 07:35</h2>
					<p>Wow, you're 15 minutes early!</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-danger">OFF</div>
					</ion-avatar>
					<h2>24 August 2019</h2>
					<p>You're not present.</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-warning">LTE</div>
					</ion-avatar>
					<h2>24 August 2019, 08:12</h2>
					<p>You are 12 minutes late.</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-safe">OK</div>
					</ion-avatar>
					<h2>24 August 2019, 07:35</h2>
					<p>Wow, you're 15 minutes early!</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-danger">OFF</div>
					</ion-avatar>
					<h2>24 August 2019</h2>
					<p>You're not present.</p>
				</ion-item>
			</ion-list>
		</div>

		<!-- Request -->
		<div *ngSwitchCase="'request'">
			<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-danger">DND</div>
					</ion-avatar>
					<h2>24 August 2019 - 28 August 2019</h2>
					<p>Any reason that is stated by user when applying fo...</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-safe">OK</div>
					</ion-avatar>
					<h2>24 August 2019 - 28 August 2019</h2>
					<p>Any reason that is stated by user when applying fo...</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-safe">OK</div>
					</ion-avatar>
					<h2>24 August 2019 - 28 August 2019</h2>
					<p>Any reason that is stated by user when applying fo...</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-warning">PND</div>
					</ion-avatar>
					<h2>24 August 2019 - 28 August 2019</h2>
					<p>Any reason that is stated by user when applying fo...</p>
				</ion-item>
				<ion-item>
					<ion-avatar item-start>
						<div class="my-letter my-letter-danger">DND</div>
					</ion-avatar>
					<h2>24 August 2019 - 28 August 2019</h2>
					<p>Any reason that is stated by user when applying fo...</p>
				</ion-item>
			</ion-list>
		</div>
	</ng-container>
</ion-content>