page-profile {
    .head-segment
    {
        position: absolute;
        top: 250px;
    }

    .color-profile
    {
        height: 300px;
        position: relative;
        z-index: -1;
    }

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios
    {
        border-style: none;
        border-color: none;
    }

    .profile-picture-container
    {
        margin-top: 0px;
        padding-top: 50px;
        color: #fff;
    }

    .segment-content
    {
        padding-top: 20px;
    }

    .basic-card
    {
        padding: 20px;
    }
}
