page-news-detail {
	.news-solo-container,
	.news-overlay
	{
		border-radius: 0 !important;
	}
	.news-detail-content
	{
		width: 85%;
	}
	.news-detail-content h1
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.primary-news-content
	{
		padding: 20px;
	}

	.primary-news-content p
	{
		line-height: 150%;
		font-size: 18px;
	}
}
