<ion-header>

    <ion-navbar>
		<ion-title>News</ion-title>
	</ion-navbar>
	
	<div class="color-container" style="height: 56px;">
		
	</div>
  
</ion-header>

<ion-content class="news detail-bg">

	<div class="news-info">
		<div class="news-solo-container" style="background: url(https://www.incimages.com/uploaded_files/image/970x450/getty_473909426_129584.jpg);">
			<div class="news-overlay">
				<div class="news-content">
					<div class="news-date">
						<h1>{{ new['date'] }}</h1> 
					</div>
					<div class="news-detail-content">
						<p><ion-badge color="danger">IMPORTANT</ion-badge></p>
						<h1><strong>{{ new['title'] }}</strong></h1>
						<p>by {{getAuthor(new['id_user'])['nama']}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="primary-news-content">
		<p>{{ new['content'] }}</p>
	</div>
</ion-content>
