<ion-header>
	<ion-navbar transparent>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
		<ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<!-- Introduction -->
	<div class="color-container">
	</div>
	<div class="today-info">
        <p style="margin-bottom: 5px; color: #cfcfcf">Last checked in {{masukterakhir | date:'EEEE, dd MMMM yyyy'}}</p>
		<h5 style="margin-bottom: 15px;">Good afternoon, give your best today!</h5>
		<!-- <button ion-button round tappable (click)="checkin(user.id)">CHECK IN</button> -->
		<!-- <button ion-button round>CHECK IN</button> -->
        <button ion-button round *ngIf="btn_txt" (click)="check()">{{btn_txt}}</button>
	</div>

    <ion-slides pager autoplay="3000" class="news-info" *ngIf="getNews() && getNews().length">
        <ion-slide *ngFor="let newz of getNews(); let id = index"
                   style="background: url(https://www.incimages.com/uploaded_files/image/970x450/getty_473909426_129584.jpg);">
			<div class="news-content">
				<div class="news-date">
					<h1>12</h1>
					<h2>NOV</h2> 
				</div>

                <p>
                    <ion-badge color="danger">{{ newz['priority'] }}</ion-badge>
                </p>
                <h5>{{ newz['title'] }}</h5>
                <!-- <p>{{newz['content']}}</p> -->

                <br/>
                <br/>
                <p>by {{getAuthor(newz['id_user'])['nama']}}</p>
			</div>
		</ion-slide>
	</ion-slides>

	<!-- Report -->
	<div class="basic-card">
		<ion-grid>
			<ion-row>
				<ion-col col-2>
					<div class="my-letter my-letter-safe">30</div>
				</ion-col>
				<ion-col col-6>
					<p class="depression-label">people haven't signed in</p>
					<p class="greyed">Last sign in 4 minutes ago</p>
				</ion-col>
				<ion-col col-4 text-right>
					<button ion-button round class="button-small">VIEW</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<div class="basic-card">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <div class="my-letter my-letter-danger">12</div>
          </ion-col>
          <ion-col col-6>
            <p class="depression-label">permits waiting</p>
            <p class="greyed">3 are urgent</p>
          </ion-col>
          <ion-col col-4 text-right>
            <button ion-button round class="button-small">VIEW</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
