<ion-header>
	<ion-navbar transparent>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Request Permission</ion-title>
	</ion-navbar>
</ion-header> 


<ion-content>

	<div class="color-container">
	</div>

	<div class="today-info">
		<p style="margin-bottom: 5px; color: #cfcfcf">Last permission in Friday, 7 December 2018</p>
		<h5 style="margin-bottom: 15px;">You have 4 permission left.</h5>
	</div>

	<p class="message-info">You can still apply for additional permission, but less likely to be approved unless it's emergency</p>

	<form class="form-container" (ngSubmit)="btnAddClicked()" [formGroup]="addPRForm">
		<div class="form-input">
			<ion-label color="primary" fixed>Name</ion-label>
			<ion-input type="text" formControlName="nama" placeholder="Enter your full name"></ion-input>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Reason</ion-label>
			<ion-select block formControlName="id_company" >
				<ion-option selected>Day Off</ion-option>
				<ion-option>Late</ion-option>
				<ion-option>Temporal Leave</ion-option>
				<ion-option>Fast Leave</ion-option>
			</ion-select>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Reason</ion-label>
			<ion-input type="text" formControlName="alasan"  placeholder="State your reason"></ion-input>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Start Date</ion-label>
			<ion-input type="text" formControlName="tanggal_mulai"  placeholder="Enter your start date"></ion-input>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>End Date</ion-label>
			<ion-input type="text" formControlName="tanggal_selesai"  placeholder="Enter your end date"></ion-input>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Replacement File</ion-label>
			<ion-item>
				<ion-input type="file" placeholder="select thumb image" formControlName="img_pendukung"></ion-input>
			</ion-item>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Proof (Photo)</ion-label>
			<ion-item>
				<button ion-button round (click)="onTakePhoto()">Add Photo</button>
			</ion-item>
		</div>

		<div text-center class="clear-fix">
			<button ion-button round type="submit">Apply Permission</button>
		</div>
	</form>

	
		
</ion-content>
