<!-- -->
<ion-header class="no-shadow">

	<ion-navbar class="no-border">
		<ion-title>
			Settings
		</ion-title>
	</ion-navbar>

</ion-header>

<ion-content class="common-bg">

	<div class="color-container" style="height: 56px;">
	</div>

	<!-- User settings-->
	<ion-item-group>
		<ion-item-divider color="primary" class="bold">Presence Settings</ion-item-divider>
		<ion-item>
			<ion-label>Maximum Absence</ion-label>
			<ion-input type="text" value="3"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Late Check-in</ion-label>
			<ion-input type="text" value="09:00"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Early Check-out</ion-label>
			<ion-input type="text" value="15:00"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Lattitude</ion-label>
			<ion-input type="text" value="-6254367"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Langitude</ion-label>
			<ion-input type="text" value="106622986"></ion-input>
		</ion-item>
		<!-- <ion-item>
		<ion-label>Currency</ion-label>
		<ion-select [(ngModel)]="currency" cancelText="Cancel" okText="OK">
			<ion-option value="USD" selected="true">U.S Dollar (US$)</ion-option>
			<ion-option value="EUR">Euro (€)</ion-option>
			<ion-option value="GBP">Pound (£)</ion-option>
			<ion-option value="BRL">Brazilian Real (R$)</ion-option>
			<ion-option value="CNY">Chinese Yuan</ion-option>
		</ion-select>
		</ion-item>
		<ion-item>
		<ion-label>Units</ion-label>
		<ion-select [(ngModel)]="munits" cancelText="Cancel" okText="OK">
			<ion-option value="M" selected="true">Miles (ft²)</ion-option>
			<ion-option value="K">Kilometers (m²)</ion-option>
		</ion-select>
		</ion-item>
		<ion-item>
		<ion-label>Notifications?</ion-label>
		<ion-toggle checked="true"></ion-toggle>
		</ion-item> -->
	</ion-item-group>
	<!-- App settings-->
	<ion-item-group>
		<ion-item-divider color="primary" class="bold">App Settings</ion-item-divider>
			<ion-item>
			<span>Clear Private Data</span>
		</ion-item>
		<ion-item>
			<ion-label>Push Notifications?</ion-label>
			<ion-toggle checked="false"></ion-toggle>
		</ion-item>
		<ion-item>
			<span>Privacy Policy</span>
		</ion-item>
	</ion-item-group>  

	<!--sign out button-->
	<ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>
	<button ion-button color="primary" *ngIf="auth.authenticated" full tappable (click)="logout()">LOG OUT</button>

</ion-content>
