<ion-header>
	<ion-navbar transparent>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Invite Employee</ion-title>
	</ion-navbar>
</ion-header> 


<ion-content>

	<div class="color-container" style="height: 56px;">
	</div>

	<form class="form-container" (ngSubmit)="btnAddClicked()" [formGroup]="addEmployeeForm">
		<div class="form-input">
			<ion-label color="primary" fixed>Name</ion-label>
			<ion-input type="text" formControlName="nama" placeholder="Enter employee name"></ion-input>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Department</ion-label>
			<ion-select block formControlName="id_usergroup">
				<ion-option value="0" selected>Human Resource</ion-option>
				<ion-option value="1" >Research and Development</ion-option>
				<ion-option value="2">Software Development</ion-option>
				<ion-option value="3">Marketing</ion-option>
				<ion-option value="4">Finance</ion-option>
			</ion-select>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Company</ion-label>
			<ion-select block formControlName="id_usergroup">
				<ion-option value="0" selected>Skynine</ion-option>
				<ion-option value="1" >Rumah Hauw</ion-option>
			</ion-select>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Join Date</ion-label>
			<!-- <ion-input type="date" formControlName="Join" placeholder="Employee join date"></ion-input> -->
			<ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" formControlName="date_join"></ion-datetime>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Birth Date</ion-label>
			<ion-datetime displayFormat="YYYY-MM-DD" formControlName="date_birth"></ion-datetime>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Image</ion-label>
			<ion-item>
				<ion-input type="file" placeholder="select thumb image" formControlName="img"></ion-input>
			</ion-item>
		</div>

		<div class="form-input">
				<ion-label color="primary" fixed>Phone Number</ion-label>
				<ion-input type="text" formControlName="phonenum" placeholder="089514055817"></ion-input>
			</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Active</ion-label>
			<ion-label fixed>0</ion-label>
		</div>

		<div class="form-input">
			<ion-label color="primary" fixed>Email</ion-label>
			<ion-input type="email" formControlName="email" placeholder="@gmail.com"></ion-input>
		</div>
		<div class="form-input">
			<ion-label color="primary" fixed>Password</ion-label>
			<ion-input type="password" formControlName="password"></ion-input>
		</div>

		<div text-center class="clear-fix">
			<button ion-button round type="submit">Invite Employee</button>
		</div>
	</form>

	
	
</ion-content>
