<ion-menu [content]="content">

	<ion-content>
		<div class="profile-picture-container">
			<div class="profile-picture">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx" />
			</div>
			<h1>{{auth.getEmail()}}</h1>
			<!-- <p>Human Resource Director</p> -->
		</div>
		<ion-list>
            <div>
                <p class="menu-title">My Desk</p>
                <!-- <button menuClose ion-item tappable (click)="openSetting()"><ion-icon class="menu-icon" name="ios-cog"></ion-icon> Setting</button> -->
                <button menuClose ion-item tappable (click)="openDashboard()"><ion-icon class="menu-icon" name="ios-home"></ion-icon> Dashboard</button>
                <button menuClose ion-item tappable (click)="openProfile()"><ion-icon class="menu-icon" name="md-person"></ion-icon> Profile</button>
                <button menuClose ion-item tappable (click)="openRequestPermission()"><ion-icon class="menu-icon" name="md-key"></ion-icon> Request Permission</button>
                <button menuClose ion-item tappable (click)="openMyPermission()"><ion-icon class="menu-icon" name="md-checkmark"></ion-icon> My Permission</button>
                <button menuClose ion-item tappable (click)="openAttendanceHistory()"><ion-icon class="menu-icon" name="md-time"></ion-icon> Attendance History</button>
                <button menuClose ion-item tappable (click)="openNews()"><ion-icon class="menu-icon" name="md-list-box"></ion-icon> News</button>
            </div>
            <div *ngIf="isCompany">
			<p class="menu-title">Administration</p>
			<button menuClose ion-item tappable (click)="openEmployees()"><ion-icon class="menu-icon" name="md-people"></ion-icon> Employees</button>
			<button menuClose ion-item tappable (click)="openEmployeesPermission()"><ion-icon class="menu-icon" name="md-checkmark"></ion-icon> Permission Requests</button>
			<button menuClose ion-item tappable (click)="openEmployeesAdd()"><ion-icon class="menu-icon" name="md-person-add"></ion-icon> Invite Employee</button>
			<button menuClose ion-item tappable (click)="openNewsAdd()"><ion-icon class="menu-icon" name="md-add"></ion-icon> Add News</button>
			<br>
            </div>
			<ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>
			<ion-item (click)="logout()">
				<ion-icon name="log-out" item-left></ion-icon>
				Log out
			</ion-item>
		</ion-list>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [rootParams]="rootParam" #content swipeBackEnabled="false"></ion-nav>
