*
{
    box-sizing: border-box;
}

:root
{
  --default-space: 20px;
  --gradient-blue-primary: rgb(53, 100, 139);
  --gradient-blue-primary-dark: rgb(62, 108, 177);
  --transparent-blue-primary: rgba(53, 100, 139, 0.75);
  --transparent-blue-primary-dark: rgba(62, 108, 177, 0.75);
}

.scroll-content
{
    background: #e7e7e7;
}

ion-header 
{
    .bar-button-default
    {
        color: #fff;
    }

    .toolbar 
    {
        position: absolute;
  
        .toolbar-background
        {
            background: transparent;
        }

        .toolbar-title
        {
            color: #fff;
        }
    }
}

h1,h2,h3,h4,h5,h6,p
{
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    line-height: 100%;
}

.profile-picture-container
{
    text-align: center;
    margin-top: var(--default-space);
    margin-bottom: var(--default-space);
}

.profile-picture-container>.profile-picture
{
    width: 125px;
    height: 125px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 1000px;
    overflow: hidden;
}

.profile-picture-container>.profile-picture>img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture-container>h1
{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.button-small
{
    font-size: 12px !important;
    padding: 5px 20px 5px 20px !important;
}

.primary-menu
{
    z-index: 99;
}

.menu-button
{
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    padding: 15px 20px 15px 20px;
    text-align: left;
    font-size: 14px;
}

.menu-button ion-icon
{
    margin-right: 10px;
}

.color-container
{
    background: linear-gradient(to bottom right, var(--gradient-blue-primary), var(--gradient-blue-primary-dark));
    height: 200px;
}

.today-info,
.basic-card
{
    width: 90%;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: -75px;        
    padding: var(--default-space);
    text-align: center;
}

.basic-card
{
    margin-top: 5px;        
    padding: 5px;
    text-align: left;
}

.basic-card .card-flex
{
  	display: flex;
}

.basic-card .card-flex .card-first
{
	width: 50%;
}

.basic-card .card-flex .card-second
{
	text-align: right;
	width: 50%;
}

.basic-card .card-flex .card-second ion-icon
{
	margin-left: 10px;
}

.depression-label
{
    margin-bottom: 5px;
    margin-top: 5px;
}

.my-letter
{
    background: linear-gradient(to bottom right, var(--gradient-blue-primary), var(--gradient-blue-primary-dark));
    border-radius: 100%;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
}

.my-letter-safe
{
    background: linear-gradient(to bottom right, #3f8b35, #3eb16a);
}

.my-letter-warning
{
    background: linear-gradient(to bottom right, #8b8235, #c9c62e);
}

.my-letter-danger
{
    background: linear-gradient(to bottom right, #8b3535, #b13e74);
}

.my-letter-normal
{
    background: linear-gradient(to bottom right, #35648b, #3e6cb1);
}

.greyed { color: #cfcfcf; }

.menu-title
{
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.menu-icon
{
    width: 35px;
}

.form-input
{
	background: #fff;
	border-radius: 10px;
	border: 1px solid #dedede;
	margin-bottom: 5px;
	padding: 0px 15px 0px 15px;
	position: relative;
	display: flex;
}

.form-input ion-label
{
	color: #c4c4c4;
}

.form-input input
{
	text-align: right;
}

.form-input ion-select
{
	width: 100% !important;
	max-width: 100% !important;
	right: 0;
}

.form-input ion-select .select-text
{
	text-align: right;
	margin-right: 10px;
}

.form-container
{
	padding: var(--default-space);
}

.form-group
{
  display: flex;
}

.form-group .form-input
{
  width: calc(50% - 5px);
}

.form-group .form-input:first-child
{
  margin-right: 5px;
}

.form-group .form-input:last-child
{
  margin-left: 5px;
}

.form-group .form-input ion-label
{
  width: 30%;
}

.form-group .form-input input
{
  width: 70%;
}

.filter-input
{
    padding: 20px;
    padding-top: 65px;
}

.message-info
{
	padding: var(--default-space);
	line-height: 150%;
	margin: 0px;
}

.fixed
{
	position: fixed;
}

.full-width
{
	width: 100%;
}

.clear-fix
{
	margin-bottom: 30px;
}

.logo
{
    width: 60px;
    height: 60px;
    margin: 20px auto 0;
    margin-bottom: 5px;
    border-radius: 10%;
    background: url("../assets/img/3_putih.png") no-repeat;
    background-size: 100%;
}

.btn-gplus {
    background-color: #E04006;
}

.btn-gplus-icon 
{
	font-size: 18px !important;
	margin-top: -4px;
}

.news-info
{
    height: 250px;
    text-align: left;
    padding: 20px;
}

.news-info ion-slide,
.news-solo-container
{
    border-radius: 10px;
    background-size: cover !important;
    background-position: center !important;
}

.news-solo-container
{
	height: 200px;
}

.news-info h5
{
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left;
}

.news-info p
{
    font-size: 14px;
    line-height: 125%;
    text-align: left;
}

.news-info .slide-zoom,
.news-info .news-overlay
{ 
    height: 100%;
    padding-top: 20px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(to bottom right, rgba(53, 100, 139, 0.85), rgba(62, 108, 177, 0.85));
}

.news-info .news-content
{
    padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.news-info .news-content .news-date
{
	background: #fff;
	position: absolute;
	border-radius: 100%;
	width: 45px;
	height: 45px;
	right: 10px;
	top: -10px;
	text-align: center;
	padding-top: 6px;
}

.news-info .news-content .news-date h1, 
.news-info .news-content .news-date h2
{
	color: #000;
}

.news-info .news-content .news-date h1
{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
}

.news-info .news-content .news-date h2
{
	font-size: 12px;
}

.news-info .news-content h5
{
	margin-top: 5px;
}

ion-avatar
{
	position: relative;
}

// http://ionicframework.com/docs/theming/
// App Shared Imports
// --------------------------------------------------

// global styles
.primary-bg {
    background-color: color($colors, primary) !important;
  }
  
  .secondary-bg {
    background-color: color($colors, secondary) !important;
  }
  
  .common-bg {
    background-color: #FAFBFC;
  }
  
  .white-bg {
    background-color: #fff;
  }
  
  .detail-bg {
    background-color: #f1f1f5;
  }
  
  .light-bg {
    background-color: color($colors, light);
  }
  
  .dark-bg {
    background-color: color($colors, dark);
  }
  
  .green-bg {
    background-color: #68C91F;
  }
  
  .profile-bg {
    background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary), color($colors, light));
  }
  //
  //
  .text-primary {
    color: color($colors, primary);
  }
  
  .text-secondary {
    color: color($colors, secondary);
  }
  
  .text-green {
    color: #68C91F;
  }
  
  .text-yellow {
    color: #FDD835;
  }
  
  .text-white {
    color: #fff;
  }
  
  //
  .dark-trans,
  .toast-md .toast-wrapper {
    background-color: rgba(0, 0, 0, .4);
  }
  
  
  // Helpers
  .quarter-op {
    opacity: .25;
  }
  
  .no-paddingTRL {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  .no-paddingTRB {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .no-paddingB {
    padding-bottom: 0 !important;
  }
  
  .no-paddingT {
    padding-top: 0 !important;
  }
  
  .padding-xs {
    padding: 10px;
  }
  
  .no-padding {
    padding: 0 !important;
  }
  
  .no-pl {
    padding-left: 0 !important;
  }
  
  .no-margin {
    margin: 0;
  }
  
  .no-marginT {
    margin-top: 0 !important;
  }
  
  .mt-half {
    margin-top: .5rem !important;
  }
  
  .mt-1 {
    margin-top: 1rem !important;
  }
  
  .mb-half {
    margin-bottom: .5rem;
  }
  
  .marginB-16px {
    margin-bottom: 16px !important;
  }
  
  .marginB-2 {
    margin-bottom: 2rem !important;
  }
  
  .marginT-16px {
    margin-top: 16px !important;
  }
  
  .marginT-2 {
    margin-top: 2rem !important;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .rlt {
    position: relative;
  }
  
  .clear {
    clear: both;
  }
  
  .align-bottom {
    position: absolute;
    bottom: 0;
  }
  
  .round {
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .no-round {
    border-radius: 0;
  }
  
  .border-bottom {
    border-bottom: 1px solid rgba(86, 61, 124, 0.1);
  }
  
  .full-width {
    width: 100% !important;
  }
  
  .max-width {
    max-width: 100% !important;
  }
  
  .padding-sm {
    padding: 1rem;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  // text size
  .text-2x {
    font-size: 2em;
  }
  
  .text-1x {
    font-size: 1em;
  }
  
  .text-sm {
    font-size: 0.7em;
  }
  
  .bold {
    font-weight: bold !important;
  }
  
  // buttons configs
  .btn-facebook {
    background-color: #3B5999;
  }
  
  .btn-twitter {
    background-color: #00ACEE;
  }
  
  // badge style
  ion-badge {
    &.square {
      border-radius: 0;
    }
  }
  
  // card style
  .card {
    background: #FFF;
    border-radius: 1rem;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
  }
  
  // navbar style
  ion-navbar.no-border {
  
    .toolbar-background {
      border: none;
    }
  }
  
  // list style
  .list-no-border {
  
    .item:first-child {
      border: none;
    }
    .item:last-child {
      border: none;
    }
  
    .item {
      .item-inner {
        border: none;
      }
    }
  }
  
  .list-full-border {
    @extend .list-no-border;
  
    .item,
    .item:first-child,
    .item:last-child {
      border-bottom: 1px solid rgba(86, 61, 124, 0.2);
      .item-inner {
        border: none;
      }
    }
  }
  
  // item style
  .item.no-border {
    .item-inner {
      border: none;
    }
  }
  
  // Toolbar
  // transparent nav bar
  .toolbar {
    &.nav-transparent {
      .toolbar-background {
        background-color: rgba(86, 61, 124, .65);
      }
    }
    .toolbar-title {
      img {
        vertical-align: sub;
        border-radius: 10%;
      }
    }
  }
  
  // Menu user profile
  .user-profile {
    .user-avatar {
      width: 68px;
      height: 68px;
      display: inline-block;
      border-radius: 50%;
      box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
      img {
        border-radius: 50%;
      }
    }
    .toolbar-background {
      background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary));
    }
  
    .other-data {
      .column {
        &:first-child {
          border-right: 1px solid rgba(36, 50, 157, .25);
        }
      }
    }
  }
  
  .user-list {
    .item {
      &:last-child {
        border-bottom: 0;
      }
      .item-inner {
        border-color: rgba(86, 61, 124, .1);
      }
    }
  }
  
  // styles for hotels
  .hotel-bg {
    background-position: center;
  
    .bg-filter {
      position: relative;
      height: 150px;
      background: rgba(0, 0, 0, .5);
  
      .bottom-info {
        position: absolute;
        width: 100%;
        bottom: 1rem;
        padding: 1rem;
      }
    }
  
    .discount {
      position: absolute;
      padding: 0.5rem 1rem;
      top: 0;
      right: 0;
      background-color: #68C91F;
      color: #fff;
    }
  
    .origin-price {
      color: #C0C0C0;
      text-decoration: line-through;
    }
  
    .sale-price,
    .price {
      font-size: 1.8rem;
    }
  }
  
  // style for slider
  ion-slides.to-top {
    height: auto;
    margin-bottom: -5px;
  
    .swiper-pagination {
      display: block !important;
  
      .swiper-pagination-bullet {
        background: color($colors, light);
      }
    }
  }
  
  .to-top {
    height: auto;
    margin-bottom: -5px;
  }
  
  // style for ion-icon
  ion-icon[ng-reflect-disabled="true"] {
    color: #FAFBFC;
    pointer-events: none;
  }
  
  // checkout info style
  .checkout-info {
  
    span {
      font-size: 1.2rem;
    }
  }
  
  // remove shadow from header
  .md {
    ion-header {
      &.no-shadow::after {
        background-image: none;
      }
    }
  
    ion-toolbar,
    ion-navbar {
      .button,
      .button.activated {
        box-shadow: none;
      }
    }
  }
  
  .ios {
    ion-list ion-item,
    .list-hotels .hotel-bg {
      pointer-events: none;
    }
  }
  
  // google
  .google-map {
    height: 160px;
    pointer-events: none;
    margin: 0 -20px;
  }
  
  // Animate CSS
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .animated.hinge {
    animation-duration: 2s;
  }
  
  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: .75s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  