<!-- -->
<ion-header class="no-shadow">

    <ion-navbar class="no-border">
      <ion-title>
        Add News
      </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content class="common-bg">
  
    <div class="color-container" style="height: 56px;">
    </div>

    <ion-item-group>
      <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Title"></ion-input>
          </ion-item>    
          
          <ion-item>
              <ion-input type="Date"></ion-input>
          </ion-item>     
      
          <ion-item>
            <ion-label>Priority</ion-label>
            <ion-select [(ngModel)]=" Priority"  cancelText="cancel" okText="Okay!">
              <ion-option value="1" >1</ion-option>
              <ion-option value="2">2</ion-option>
              <ion-option value="3" >3</ion-option>
              
            </ion-select>
          </ion-item>
          
          <ion-item>
              <ion-input type="text" placeholder="Content"></ion-input>
          </ion-item>
      
          <ion-item>
              <input type="file" name="myFile"><br><br>
          </ion-item> 
          
          <ion-row>
              <ion-col class="text-center col"> 
                <button ion-button round tappable (click)="goSubmitAddnews()" color="primary">submit</button>
              </ion-col>
              <ion-col class="text-center col">
                <button ion-button round tappable (click)="goCancelAddnews()" color="danger">cancel</button>
              </ion-col>
          </ion-row>         
        </ion-list>
    </ion-item-group>  
  
    
  </ion-content>
  