<ion-list class="no-margin">
	<ion-list-header class="no-margin">
		<ion-icon class="menu-icon" name="notifications" color="primary"></ion-icon>
		<span ion-text color="primary" class="bold">Notifications</span>
	</ion-list-header>
	<button ion-item color="primary" class="text-1x" tappable (click)="close()">
		<ion-icon class="menu-icon" name="mail"></ion-icon>
		Permit request by Jeremias
	</button>
	<button ion-item class="text-1x" tappable (click)="close()">
		<ion-icon class="menu-icon" name="mail-open"></ion-icon>
		<span ion-text>Permit Request by Papin Faizal</span>
	</button>
	<button ion-item class="text-1x" tappable (click)="close()">
		<ion-icon class="menu-icon" name="mail-open"></ion-icon>
		<span ion-text>Fast Leave Request by Billy</span>
	</button>
</ion-list>
