<ion-header>
	<ion-navbar transparent>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Add News</ion-title>
	</ion-navbar>
</ion-header> 


<ion-content>

	<div class="color-container" style="height: 56px;">
  </div>
  
	<!-- <div class="form-container"> -->
    <form class="form-container" (ngSubmit)="btnAddClicked()" [formGroup]="addNewsForm">
		<div class="form-input">
			<ion-label color="primary" fixed>Title</ion-label>
      <ion-input type="text" formControlName="title" placeholder="Title"></ion-input>
		</div>

    <div class="form-input">
      <ion-label color="primary" fixed>Date</ion-label>
      <ion-item>
				<!-- <ion-input type="Date" formControlName="date"></ion-input> -->
				<ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" formControlName="date"></ion-datetime>
      </ion-item>
    </div>
    
		<div class="form-input">
			<ion-label color="primary" fixed>Priority</ion-label>
			<ion-select block formControlName="priority">
				<ion-option value="1" >1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3" >3</ion-option>
			</ion-select>
    </div>
    
    <div class="form-input">
			<ion-label color="primary" fixed>Content</ion-label>
			<ion-input type="text" placeholder="Content" formControlName="content"></ion-input>
		</div>

		<div class="form-input">
      <ion-label color="primary" fixed>Image</ion-label>
      <ion-item>
        <ion-input type="file" placeholder="select thumb image" formControlName="image"></ion-input>
      </ion-item>
		</div>

		<div text-center class="clear-fix">
			<button ion-button round type="submit">Add news</button>
		</div>
	</form>

	

	
</ion-content>
