<ion-header>

    <ion-navbar>
		<ion-title>Permission History</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="requestPermission()">
				<ion-icon name="md-add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

	<div class="color-container" style="height: 200px;">
		<div class="filter-input">
			<div class="form-input">
				<ion-label color="primary" fixed>Status</ion-label>
				<ion-select block>
					<ion-option selected>All</ion-option>
					<ion-option>Approved</ion-option>
					<ion-option>Rejected</ion-option>
					<ion-option>Pending</ion-option>
				</ion-select>
			</div>
			<div class="form-group">
					<div class="form-input">
						<ion-label color="primary" fixed>Start</ion-label>
						<ion-select block>
							<ion-option selected>All</ion-option>
							<ion-option>Late</ion-option>
							<ion-option>Present</ion-option>
							<ion-option>Off</ion-option>
						</ion-select>
					</div>
					<div class="form-input">
						<ion-label color="primary" fixed>End</ion-label>
						<ion-select block>
							<ion-option selected>All</ion-option>
							<ion-option>Late</ion-option>
							<ion-option>Present</ion-option>
							<ion-option>Off</ion-option>
						</ion-select>
					</div>
			</div>
		</div>
	</div>
  
</ion-header>
	
<ion-content>
	<ion-list>
		<ion-item>
			<ion-avatar item-start>
				<div class="my-letter my-letter-danger">DND</div>
			</ion-avatar>
			<h2>24 August 2019 - 28 August 2019</h2>
			<p>Any reason that is stated by user when applying fo...</p>
		</ion-item>
		<ion-item>
			<ion-avatar item-start>
				<div class="my-letter my-letter-safe">OK</div>
			</ion-avatar>
			<h2>24 August 2019 - 28 August 2019</h2>
			<p>Any reason that is stated by user when applying fo...</p>
		</ion-item>
		<ion-item>
			<ion-avatar item-start>
				<div class="my-letter my-letter-safe">OK</div>
			</ion-avatar>
			<h2>24 August 2019 - 28 August 2019</h2>
			<p>Any reason that is stated by user when applying fo...</p>
		</ion-item>
		<ion-item>
			<ion-avatar item-start>
				<div class="my-letter my-letter-warning">PND</div>
			</ion-avatar>
			<h2>24 August 2019 - 28 August 2019</h2>
			<p>Any reason that is stated by user when applying fo...</p>
		</ion-item>
		<ion-item>
			<ion-avatar item-start>
				<div class="my-letter my-letter-danger">DND</div>
			</ion-avatar>
			<h2>24 August 2019 - 28 August 2019</h2>
			<p>Any reason that is stated by user when applying fo...</p>
		</ion-item>
	</ion-list>
	
	<!-- <div>
		<button ion-button icon-start block color="primary" tappable (click)="izinBaru()">
		Masuk
		</button>
	</div>

		<ion-list class="list-inset">
		<label class="item item-input">
			<i class="icon ion-search"></i>
			<input type="text" placeholder="cari">
		</label>
		</ion-list>
		
		<div class="new" *ngFor="let new of history" tappable (click)="RiwayatDetail(new.id)" margin-bottom>
		<div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + new.thumb + ')'}">
			<div class="background-filter rlt">      
			<div class="align-bottom" padding-left padding-right>
				<h6 class="pull-left text-white" ion-text>{{ new.name }}</h6>
				<h6 class="pull-right text-white" ion-text>{{ new.tanggal }}</h6>
				<h6 class="pull-right text-white" ion-text>{{ new.jam }}</h6>
				<h6 class="pull-left text-white" ion-text>{{ new.desc }}</h6>
				<h6 class="pull-right text-white" ion-text>{{ new.tanggal }}</h6>
				<h6 class="pull-right text-white" ion-text>{{ new.status }}</h6>  
				<div class="clear"></div>
			</div>
			</div>
		</div>
		</div> -->
	
</ion-content>
  