page-news-history,
.news {
  .news-info
  {
    padding: 0px;
    height: auto;
    margin-bottom: 5px;
  }

  .news-date
  {
    padding-top: 9px !important;
  }

	.card {
		border-radius: 1rem
	}
  .new {
    overflow: hidden;

    .background {
      background-size: 100% auto;
      background-position: center;

      .background-filter {
        height: 16rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));

        .align-bottom {
          width: 100%;

          h6 {
            margin-top: 0;
          }
        }
      }
    }
  }
}
