<ion-header>

    <ion-navbar>
		<ion-title>News</ion-title>
	</ion-navbar>
	
	<div class="color-container" style="height: 200px;">
		<div class="filter-input">
			<div class="form-input">
				<ion-label color="primary" fixed>Priority</ion-label>
				<ion-select block>
          <ion-option selected>All</ion-option>
          <ion-option>Urgent</ion-option>
					<ion-option>Important</ion-option>
          <ion-option>Normal</ion-option>
				</ion-select>
			</div>
			<div class="form-group">
					<div class="form-input">
						<ion-label color="primary" fixed>Start</ion-label>
						<ion-select block>
							<ion-option selected>All</ion-option>
							<ion-option>Late</ion-option>
							<ion-option>Present</ion-option>
							<ion-option>Off</ion-option>
						</ion-select>
					</div>
					<div class="form-input">
						<ion-label color="primary" fixed>End</ion-label>
						<ion-select block>
							<ion-option selected>All</ion-option>
							<ion-option>Late</ion-option>
							<ion-option>Present</ion-option>
							<ion-option>Off</ion-option>
						</ion-select>
					</div>
			</div>
		</div>
	</div>
  
</ion-header>

<ion-content padding class="news detail-bg">

	<div class="news-info" *ngFor="let newz of getNews(); let id = index" tappable (click)="viewDetail(id)">
		<div class="news-solo-container" style="background: url(https://www.incimages.com/uploaded_files/image/970x450/getty_473909426_129584.jpg);">
			<div class="news-overlay">
				<div class="news-content">
					<div class="news-date">
						<h1>12</h1>
						<h2>NOV</h2> 
					</div>

					<p><ion-badge color="danger">IMPORTANT</ion-badge></p>
					<h5>{{ newz['title'] }}</h5>
                    <!-- <p>{{newz['content']}}</p> -->

					<br/>
					<br/>
                    <p>by {{getAuthor(newz['id_user'])['nama']}}</p>
				</div>
			</div>
		</div>
	</div>
	

    <!-- <div class="new card" 
         margin-bottom>
    	<div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + newz['image'] + ')'}">
			<div class="  background-filter rlt">
						<div class="align-bottom" padding-left padding-right>
							<h6 class="pull-left text-white" ion-text></h6>
							<div class="clear"></div>
						</div>
			</div>
    	</div>
			<div class="padding-sm primary-bg">
				<ion-icon name="time" class="text-white">{{ newz['date'] }}</ion-icon>
				<span class="pull-right" ion-text color="light"><strong>Priority </strong></span>
			</div>
  	</div> -->
</ion-content>
