<ion-header>
    <ion-navbar transparent>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Invite Employee</ion-title>
    </ion-navbar>
  </ion-header> 
  
  
  <ion-content>

    <div class="color-container" style="height: 56px;"></div>
    <div class="form-container">
      <div class="form-input">
        <ion-label color="primary" fixed>Name</ion-label>
        <ion-input type="text" placeholder="Enter Employee full name"></ion-input>
      </div>
  
      <div class="form-input">
        <ion-label color="primary" fixed>Department</ion-label>
        <ion-select block>
          <!-- id user group -->
          <ion-option selected>Human Resource</ion-option> 
          <ion-option>Research and Development</ion-option>
          <ion-option>Software Development</ion-option>
          <ion-option>Marketing</ion-option>
          <ion-option>Finance</ion-option>
        </ion-select>
      </div>
  
      <div class="form-input">
        <ion-label color="primary" fixed>Email</ion-label>
        <ion-input type="email" placeholder="Email employee"></ion-input>
      </div>
  
      <div class="form-input">
        <ion-label color="primary" fixed>Company</ion-label>
        <ion-select block>
          <!-- id company -->
          <ion-option selected>Skynine</ion-option> 
          <ion-option>Rumah Hauw</ion-option>
        </ion-select>
      </div>
    </div>
  
    <div text-center class="clear-fix">
      <button ion-button round>Apply Permission</button>
    </div>
      
  </ion-content>
  