<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        IZIN PULANG CEPAT
      </ion-title>
    </ion-navbar>
</ion-header>
  

  <ion-content padding>
  
     
  
      <div class="list">
          <label class="item item-input">
          <input type="text" placeholder="Jam Izin">
          </label>

          <label class="item item-input">
          <input type="text" placeholder="Alasan">
          </label>

          <label class="item item-input">
          <input type="Date" placeholder="Tanggal Pengganti">
          </label>        
       </div>
    
        <div>
            <button ion-button type="submit">Submit </button>
         </div>
  
  </ion-content>