<ion-header>

    <ion-navbar>
		<ion-title>Presence History</ion-title>
	</ion-navbar>
	
	<div class="color-container" style="height: 200px;">
		<div class="filter-input">
			<div class="form-input">
				<ion-label color="primary" fixed>Status</ion-label>
				<ion-select block>
					<ion-option selected>All</ion-option>
					<ion-option>Late</ion-option>
					<ion-option>Present</ion-option>
					<ion-option>Off</ion-option>
				</ion-select>
			</div>
			<div class="form-group">
					<div class="form-input">
						<ion-label color="primary" fixed>Start</ion-label>
						<ion-select block>
							<ion-option selected>All</ion-option>
							<ion-option>Late</ion-option>
							<ion-option>Present</ion-option>
							<ion-option>Off</ion-option>
						</ion-select>
						<!-- <calendar [eventSource]="eventSource"
                                  [calendarMode]="calendar.mode"
                                  [currrentDate] ="calendar.currrentDate"
                                  [onTimeSelected]="onTimeSelected($event)"
                                  step ="30"
                                  class="calendar"
                        ></calendar> -->
					</div>
					
					<div class="form-input">
						<ion-label color="primary" fixed>End</ion-label>
						<ion-select block>
							<ion-option selected>All</ion-option>
							<ion-option>Late</ion-option>
							<ion-option>Present</ion-option>
							<ion-option>Off</ion-option>
						</ion-select>
					    
						<!-- <calendar [eventSource]="eventSource"
                                  [calendarMode]="calendar.mode"
                                  [currrentDate] ="calendar.currrentDate"
                                  [onTimeSelected]="onTimeSelected($event)"
                                  step ="30"
                                  class="calendar"
                        ></calendar> -->
					</div>
			</div>
		</div>
	</div>
  
</ion-header>
	
<ion-content>
	
	<ion-list>
        <ion-item *ngFor="let absen of getAbsenData(); let id = index">
			<ion-avatar item-start>
				<div class="my-letter my-letter-warning">LTE</div>
			</ion-avatar>
            <h2>{{absen['masuk'] | date:'dd MMMM yyyy, HH:mm:ss'}}</h2>
			<p>You are 12 minutes late.</p>
		</ion-item>
        <ion-list>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-warning">LTE</div>
                </ion-avatar>
                <h2>24 August 2019, 08:12</h2>
                <p>You are 12 minutes late.</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-safe">OK</div>
                </ion-avatar>
                <h2>24 August 2019, 07:35</h2>
                <p>Wow, you're 15 minutes early!</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-danger">OFF</div>
                </ion-avatar>
                <h2>24 August 2019</h2>
                <p>You're not present.</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-warning">LTE</div>
                </ion-avatar>
                <h2>24 August 2019, 08:12</h2>
                <p>You are 12 minutes late.</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-safe">OK</div>
                </ion-avatar>
                <h2>24 August 2019, 07:35</h2>
                <p>Wow, you're 15 minutes early!</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-danger">OFF</div>
                </ion-avatar>
                <h2>24 August 2019</h2>
                <p>You're not present.</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-warning">LTE</div>
                </ion-avatar>
                <h2>24 August 2019, 08:12</h2>
                <p>You are 12 minutes late.</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-safe">OK</div>
                </ion-avatar>
                <h2>24 August 2019, 07:35</h2>
                <p>Wow, you're 15 minutes early!</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-danger">OFF</div>
                </ion-avatar>
                <h2>24 August 2019</h2>
                <p>You're not present.</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-warning">LTE</div>
                </ion-avatar>
                <h2>24 August 2019, 08:12</h2>
                <p>You are 12 minutes late.</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-safe">OK</div>
                </ion-avatar>
                <h2>24 August 2019, 07:35</h2>
                <p>Wow, you're 15 minutes early!</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-danger">OFF</div>
                </ion-avatar>
                <h2>24 August 2019</h2>
                <p>You're not present.</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-warning">LTE</div>
                </ion-avatar>
                <h2>24 August 2019, 08:12</h2>
                <p>You are 12 minutes late.</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-safe">OK</div>
                </ion-avatar>
                <h2>24 August 2019, 07:35</h2>
                <p>Wow, you're 15 minutes early!</p>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <div class="my-letter my-letter-danger">OFF</div>
                </ion-avatar>
                <h2>24 August 2019</h2>
                <p>You're not present.</p>
            </ion-item>
        </ion-list>
	</ion-list>
</ion-content>
