<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>Attendance History</span>
    </ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="page">
    <ion-segment-button value="following">
      Following
    </ion-segment-button>
    <ion-segment-button value="you">
      You
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content>
  <div [ngSwitch]="page">
    <!-- Following -->
    <ion-list *ngSwitchCase="'following'">
      <ion-item no-lines text-wrap>
        <ion-avatar item-left>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx">
        </ion-avatar>
        <p><b>maxlynch</b> started following <b>ionic</b>, <b>angular</b> and 4 others. <ion-note>44s</ion-note></p>
      </ion-item>

      <ion-item no-lines text-wrap>
        <ion-avatar item-left>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx">
        </ion-avatar>
        <p><b>adam_bradley</b> liked 3 posts. <ion-note>6m</ion-note></p>
        <ion-row>
          <ion-col col-2><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx"  alt=""></ion-col>
          <ion-col col-2><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx"  alt=""></ion-col>
        </ion-row>
      </ion-item>

      <ion-item no-lines text-wrap>
        <ion-avatar item-left>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx">
        </ion-avatar>
        <ion-row>
          <ion-col col-10  no-padding no-margin>
            <p><b>maxlynch</b> liked <b>adam_bradley</b>'s post. <ion-note>11m</ion-note></p>
          </ion-col>
          <ion-col col-2>        
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx" class="post-small-img" alt="">
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item no-lines text-wrap>
        <ion-avatar item-left>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx">
        </ion-avatar>
        <ion-row>
          <ion-col col-10  no-padding no-margin>
            <p><b>maxlynch</b> liked <b>adam_bradley</b>'s comment: Typescript <3 <ion-note>1h</ion-note></p>
          </ion-col>
          <ion-col col-2>        
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx" class="post-small-img" alt="">
          </ion-col>
        </ion-row>
      </ion-item>
      
    </ion-list>

    <!-- You -->
    <ion-list *ngSwitchCase="'you'">
      <ion-item no-lines text-wrap>
        <ion-avatar item-left>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx">
        </ion-avatar>
        <p><b>maxlynch</b> started to following you. <ion-note>1m</ion-note></p>
      </ion-item>

      <ion-item no-lines text-wrap>
        <ion-avatar item-left>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx">
        </ion-avatar>
        <ion-row>
          <ion-col col-10  no-padding no-margin>
            <p><b>maxlynch</b>, <b>linus_torvalds</b> and <b>21 others</b> liked your post. <ion-note>11m</ion-note></p>
          </ion-col>
          <ion-col col-2>        
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx" class="post-small-img" alt="">
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item no-lines text-wrap>
        <ion-avatar item-left>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx">
        </ion-avatar>
        <ion-row>
          <ion-col col-10  no-padding no-margin>
            <p><b>linus_torvalds</b> commented:</p>
            <p>Linux rocks! <ion-note>7w</ion-note></p>
          </ion-col>
          <ion-col col-2>        
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx" class="post-small-img" alt="">
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item no-lines text-wrap>
        <ion-avatar item-left>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx">
        </ion-avatar>
        <ion-row>
          <ion-col col-10  no-padding no-margin>
            <p><b>adam_bradley</b> tagged you in a post. <ion-note>8w</ion-note></p>
          </ion-col>
          <ion-col col-2>        
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZPdaUSd54627psXPZRwQEVUnj-CMP0T5STo_39eu-wNRRzUwx" class="post-small-img" alt="">
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>
  </div>

</ion-content>
